@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,900&display=swap');

$font-stack: 'Mulish', sans-serif;
$middle-color: #f7f7f7;
$light-color: #ffffff;
$back-color: #000;
$primary-color: rgba(50, 231, 255, 1);
$secondary-color: #f7a9b4;
$tertiary-color: #6092b4;
$forthiary-color: #243762;
